.vertical-timeline-element-content {
    border-radius: 12px;
}

.vertical-timeline span {
    color: inherit;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline-element p,
.vertical-timeline-element h3,
.vertical-timeline-element h4,
.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: inherit;
}

.svg-inline--fa {
    color: inherit;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}
